@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #89c15e;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.poster {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.star {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greeting {
  position: absolute;
  bottom: 3rem;
  left: 32%;
  text-align: center;
  color: white;
}
.greeting h1 {
  font-size: 6rem;
  letter-spacing: 1rem;
}
.greeting h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.greeting button {
  margin-top: 2rem;
  width: 9rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  color: #6b6b6b;
  cursor: pointer;
}
.greeting button a {
  text-decoration: none;
  color:#6B6B6B;
}
